/* styles.module.css */
.modalContent {
    width: 1000px;
    overflow: auto;
    height: 700px;
}

@media (max-width: 768px) {
    .modalContent {
        width: 100%;
        overflow: auto;
        height: auto;
    }
}
